.contact-content {
    padding: 55px 0;
}

.contact-content .txt {
    width: 100%;
    max-width: 522px;
}

.contact-content .form-content {
    padding: 24px 32px 12px 32px;
    border-radius: 28px;
    border: 1px solid #EDEDED;
    background: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
}